body {
    background-image: url('house.jpg');
    background-size: cover; /* Ensures the image covers the entire window */
    background-position: left; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    height: 100vh; /* Ensures the body takes the full height of the viewport */
    margin: 0; /* Removes any default margin */
}

h5 {
    color: white;
    margin-top: 5px;
}

.form {
    width: 35%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.6);
    margin-left: 100px;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    border-radius: 0px 0px 50px 50px;
}

